#reservation-infos,
#reservation-users,
#reservation-chat {
  margin-top: 15px;
}

#reservation-users-container p {
  font-weight: bold;
}

#reservation-users-container li {
  list-style: none;
  margin-top: -8px;
}

#reservation-users-container ul {
  padding-left: 0px;
  padding-top: 10px;
}

// #reservation-infos-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.reservation-card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);

}

.reservation-card-title {
  text-align: center;
}
.reservation-card-picture img {
  width: 100px;

}

.reservation-card-content h3:first-child {
  color: $green;
}

#reservation-infos .row {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.banner-show {
  height: 50vh;
  z-index: -1;

}

.banner-show .container {
  padding-top: 30px;

}

.photo-display {
  z-index: 1000;
  background-color: white;
  border-radius: $border-radius-base;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: -45vh;
  h5 {
    color: $gray;
    font-size: 17px;
    font-weight: 900;
    padding: 10px;
    margin:0;
  }
}

.photo-display .list-photo {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.list-photo {
  margin: 0;
}

#resa-info {
  margin-top: -15vh;
}
