


#reservation-card-info {
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#reservation-card-info-left {
  padding: 15px;
}

.reservation-card-title {
  text-align: left;
  color: $blue;
  margin: 10px 10px 10px 30px;
  text-shadow: 1px 1px $gray;
  h2 {
    font-size: 30px;
  }
}

.reservation-card-info-flex {
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}

#reservation-card-info-last-row {
  margin-bottom: 20px;
}

.reservation-card-info-line {
  text-align: left;
  font-size: 17px;
  font-weight:400;
  padding: 10px;
}

.reservation-card-picture {
  width: 50px;

}

.reservation-card-content h3:first-child {
  color: $green;
}

.reservation-car-content .row {
  height: 100px;
}

.reservation-card-first-line {
  text-align: center;
}

.reservation-card-last-line {
  font-weight: 600;
}

.flex-content {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.banner-show {
  height: 100vh;
  z-index: -1;

}

.banner-show .container {
  padding-top: 30px;

}

#content-show {
  margin-top: -95vh;
}

.photo-display {
  z-index: 1000;
  background-color: white;
  border-radius: $border-radius-base;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  h5 {
    color: $gray;
    font-size: 17px;
    font-weight: 900;
    padding: 10px;
    margin:0;
  }
}

.photo-display .list-photo {
  align-items: center;
}

.list-photo {
  display: block;
  margin: 0 0 0 20vh;
  text-align: left;
  li {
    text-align: left;
    margin-left: -5vh;
  }
  p {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
  }
}

.list-title-photo {
  padding-top: 20px;
  padding-left: 20px;
}

#logo-sporting {
  width: 80px;
  margin: 0 50px;
}

.photo-avatar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-jepaye {
  background-color: $red;
  height: 50px;
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  border-radius: $border-radius-base;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#btn-jepaye a {
  color: white;
  text-decoration: none;
}

#btn-jepaye:hover {
  background-color: rgb(250,0,20);
  color: white;
  opacity: 1;
}

#btn-jepaye:focus {
  background-color: rgb(250,0,20);
  color: white;
  opacity: 1;
}

#link-jepaye {
  padding: 0 20px;
  vertical-align: middle;
}

#icon-calendar {
  font-size: 40px;
}
