#reservation-infos,
#reservation-users,
#reservation-chat {
  margin-top: 15px;
}

#reservation-users-container p {
  font-weight: bold;
}

#reservation-users-container li {
  list-style: none;
  margin-top: -8px;
}

#reservation-users-container ul {
  padding-left: 0px;
  padding-top: 10px;
}

// #reservation-infos-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.reservation-card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);

}

.reservation-card-title {
  text-align: left;
  margin: 10px 10px 10px 30px;
}
.reservation-card-picture {
  width: 50px;

}

.reservation-card-content h3:first-child {
  color: $green;
}

.reservation-car-content .row {
  height: 100px;
}

.flex-content {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.banner-show {
  height: 50vh;
  z-index: -1;

}

.banner-show .container {
  padding-top: 30px;

}

.photo-display {
  z-index: 1000;
  background-color: white;
  border-radius: $border-radius-base;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: -45vh;
  h5 {
    color: $gray;
    font-size: 17px;
    font-weight: 900;
    padding: 10px;
    margin:0;
  }
}

.photo-display .list-photo {
  align-items: center;
}

.list-photo {
  display: block;
  margin: 0 0 0 20vh;
  text-align: left;
  li {
    text-align: left;
    margin-left: -20px;
  }
  p {
    text-align: center;
    font-size: 15px;
  }
}

#resa-info {
  margin-top: -15vh;
}

.footer-social a i {
  font-size: 30px;
  font-color: $blue;
  margin: 20px 0;
}

.share-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.share-link {
  flex: 0 0 24%;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.fa-facebook {
  padding-left: 400px;
}

.fa-envelope-o {
  padding-right: 400px;
}

#logo-sporting {
  width: 80px;
  margin: 0 50px;
}

.photo-avatar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-jepaye {
  margin: 10px;
}

