.product-list-category a {
  text-align: center;
  width: 100%;
}

.product-list {
  margin: 20px 0;
}

.product-list-category h3 {
  background-color: black;
  color: white;
  padding: 10px 0;
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  border-radius: 3px 3px 0 0;
}

.cart-border-shadow {
  box-shadow: 2px 2px 2px #9b9b9b;
}

.shopping-cart {
  background-color: white;
  padding: 25px;
  margin-bottom: 30px;
}

.cat {
  padding: 5px 0;
  text-decoration: none;
}

.cat:hover {
  padding: 5px 0;
  text-decoration: none;
}

.cat:hover h3{
  background-color: white;
  color: black;
}

.cat-active:hover h3{
  background-color: $gray;
}

.product-category-block {
  background-color: $gray;
  text-align: center;
}

.cat-active h3 {
  background-color: $gray;
}

.product {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 15px;
  margin: auto;
  width: 130px;
}

.product h3 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: white;
  text-align: left;
  padding-bottom: 4px;
}

.product img {
  width: 100px;
  border-radius: 5px;
}

.shopping-cart-product-card-description {
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
  align-items: center;
}

.shopping-cart-product-card-description p {
  margin: 0;
  font-size: 12px;
  font-weight: bolder;
}

.product .addToCart {
  margin-top: -8px;
}

.shopping-cart table {
  margin-top: 15px;
  width: 100%;
  color: black;
}

.shopping-cart table tbody tr:nth-child(2n+2) {
  background-color: $light_gray;
}

.shopping-cart thead {
  border-top: 2px $gray solid;
  border-bottom: 2px $gray solid;
}

.shopping-cart thead tr td {
  padding: 15px 0;
}

.shopping-cart tbody tr td {
  padding: 10px 0;
  font-weight: bold;
}

.shopping-cart tbody input {
  height: 20px;
  width: 60px;
}

#shopping-validate {
  border-top: 2px $gray solid;
  padding: 15px 0;
}

#recap-product-list {
  font-weight: bold;
  color: black;
}

.shopping-cart td:not(:first-child) {
  text-align: center;
}

.shopping-cart td:first-child {
  padding-left: 8px;
}


.shopping-title {
  margin-bottom: 35px;
  color: white;
}

#shopping-recap-wrapper {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.shopping-recap {
  margin-top: 35px;
}

.no-category {
  color: black;
  padding-top: 12px;
}

.shopping-recap-title {
  color: black;
}

#app {
  margin-top: 10vh;
}

