.product-list-category a {
  text-align: center;
  width: 100%;
}

.product-list-category h3 {
  background-color: black;
  color: white;
  padding: 10px 0;
  margin: 0;
  font-size: 17px;
  font-weight: bold;
}

.product-list-category {
  margin-bottom: 10px;
}

.product-category-block {
  background-color: gray;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: center;
}

.product {
  background-color: white;
}

.product img {
  width: 100%;
}
