<div class="row">
  <div class="col-xs-12">
    <table>
      <thead>
        <tr>
          <td>Designation</td>
          <td>Prix unitaire</td>
          <td>Quantité</td>
          <td>Prix total</td>
          <td>Supprimer</td>
        </tr>
      </thead>
      <tbody id="table-product-list">
        <tr data-reservationid="<%= @order.reservation.id %>">
          <td><%= "#{@order.reservation.sport_category.name}  -  #{@order.reservation.number_of_hour} heures " %>
            - Pour 1 personne.</td>
          <td><%= humanized_money(@reservation_price_per_person) %>€</td>
          <td><span class="reservation-person-number">1</span></td>
          <td><span class="reservation-total-price"><%= humanized_money(@reservation_price_per_person) %></span>€</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
