<% content_for :title, "Airpay - Profile page" %>

<div class="container text-center">
  <%= render 'account/tab-menu', dashboard_class: "tab active" %>
</div>

<div class="container text-center">
  <div class="tab-content" id="dashboard">
    <h2>Welcome <%= "#{current_user.first_name} #{current_user.last_name}" %></h2>
    <p>This is my dashboard.</p>
    <p>Vous avez X réservations actives.</p>
    <p>Vous etes convié(e) à X parties. (Parties en attente de paiement)</p>
    <p>Vous vous appretez à jouer X parties. (Parties payée)</p>
    <br/>
    <p>Vous avez X nouveaux message concernant la partie n°X</p>
    <p>Vous avez X nouveaux message concernant la partie n°Y</p>
  </div>
</div>

<!-- To activate if we can do everything on time before, code in js file commented as well -->
<!-- <%= javascript_include_tag 'tabs' %> -->
