<div class="footer-social text-center">
    <div class="share-links">
      <a href="#" >
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="#" >
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="#" >
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </a>
    </div>
</div>
