<% content_for :title, "Airpay - Votre réservation" %>

<div class="banner-show" style="background: url(<%= image_path("foot.jpg") %>);">

</div>

<div class="container">
  <div class="photo-display">
    <div >
      <ul class="list-inline ">
        <li>
          <h5>Paiements effectués</h5>
        </li>
        <li>
         <h5> 1 / 10</h5>
       </li>
     </ul>
   </div>
   <ul class="list-photo list-inline text-center">
    <li>
      <%= image_tag ('avatar.jpg'), class: "avatar-large" %>
      <p>Francky</p>
    </li>
  </ul>
</div>
</div>



<div class="container" id="resa-info">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div id="reservation-infos">
        <div class="reservation-card">
          <div class="reservation-card-title">
            <h2>Aujourd'hui de 16h45 à 18h45</h2>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <div class="reservation-card-picture"><%= image_tag "ballon-foot.png" %></div>
            </div>
            <div class="col-xs-9">
              <div class="reservation-card-content">
                <h3>Réservation confirmée !</h3>
                <h3>Terrain : 1</h3>
                <p>Réservé le : 03/04/05</p>
                <p>Par : Didier Tavu</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div id="reservation-users">
        <div class="panel panel-primary">
          <div class="panel-body text-center" id="reservation-users-container">
            <p>Paiements reçus pour X/X joueurs :</p>
            <div>

            </div>
          </div>
          <div class="panel-footer text-center">
            <p>Partagez aux autres conviés :</p>
            <div class="share-links">
              <a href="#" class="share-link bg-facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="share-link bg-twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="share-link bg-email">
                <i class="fa fa-envelope-o"></i>
              </a>
              <a href="#" class="share-link bg-text">
                <i class="fa fa-mobile"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="reservation-chat">
        <%= render 'chat' %>
      </div>
    </div>
  </div>
</div>
